package ${T.packageName};
import com.zhk.core.base.modelbase.ModelBase;
import com.zhk.core.base.servicebase.ServiceBase;
 
/**
 * 
 * 描述：${T.className}SERVER 接口
 * @author	:${A.authorInfo}
 * @version	:${A.version}
 * @date	:${A.date}
 * 说明:		:${A.note}
 */
public interface ${T.className}Service extends ServiceBase {
    /*****************************************
	 * 其它SERVICE需提供的方法在此申明
	 ****************************************/
}